{% extends "base.html" %}

{% block content %}
<section class="container pt-5">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="text-body-emphasis">About it & FAQs</h1>
			<p class="col-lg-8 mx-auto lead">
				This takes the basic jumbotron above and makes its background
				edge-to-edge with a <code>.container</code> inside to align content.
				Similar to above, it's been recreated with built-in grid and utility
				classes.
			</p>
		</div>
		<div class="col-12 text-center">
			<img src="/assets/img/star.png" alt="star">
			<img src="/assets/img/star.png" alt="star">
			<img src="/assets/img/star.png" alt="star">
			<img src="/assets/img/star.png" alt="star">
			<img src="/assets/img/star.png" alt="star">
		</div>
	</div>
</section>
{% endblock %}