<!doctype html>
<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SinkrOne</title>
	{% load static %}
	<!-- ======= Favicon ======= -->
	<link rel="icon" type="image/x-icon" href="{% static 'img/star.png' %}" />
	<!-- ======= Stylesheets ======= -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/sinkrone.min.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
	<!-- ======= Icons ======= -->
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="bootstrap" viewBox="0 0 118 94">
			<title>Bootstrap</title>
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
			</path>
		</symbol>
		{% block icons %}{% endblock %}
	</svg>

	<!-- ======= Header ======= -->
	<header class="container-flued border-bottom fixed-top bg-body-tertiary">
		<nav class="navbar navbar-expand-md rounded">
			<div class="container">
				<a class="navbar-brand" href="{% url 'web:home' %}">SinkrOne</a>
				<button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1"
					aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse py-2" id="navbar1">
					<form class="input-group"><input type="search" class="form-control" placeholder="Search"
							aria-label="Search" aria-describedby="button1">
						<button class="btn btn-primary" type="submit" id="button1">Search</button>
					</form>
					<ul class="navbar-nav justify-content-md-center mx-2">
						<li class="nav-item mx-2"><a href="{% url 'events:events' %}" class="nav-link">Events</a></li>
						<li class="nav-item mx-2"><a href="{% url 'friends:friends' %}" class="nav-link">Friends</a>
						</li>
						<li class="nav-item mx-2"><a href="{% url 'blog:blog' %}" class="nav-link">News</a></li>
						<li class="nav-item mx-2"><a href="{% url 'about:about' %}" class="nav-link">About</a></li>
					</ul>
					<button type="button" class="btn btn-primary col-md" data-bs-toggle="modal"
						data-bs-target="#exampleModalScrollable">
						Create
					</button>
				</div>
			</div>
		</nav>
	</header>

	<!-- ======= Modal ======= -->
	<div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalScrollableTitle">
						Modal title
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						This is some placeholder content to show the scrolling
						behavior for modals. We use repeated line breaks to
						demonstrate how content can exceed minimum inner height,
						thereby showing inner scrolling. When content becomes longer
						than the predefined max-height of modal, content will be
						cropped and scrollable within the modal.
					</p>
					<p>
						This content should appear at the bottom after you scroll.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
						Cancel
					</button>
					<button type="button" class="btn btn-primary">
						Save
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- ======= Content ======= -->
	{% block content %}{% endblock %}

	<!-- ======= Footer ======= -->
	<footer class="container pt-5  mt-auto">
		<div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
			<p class="col-md-4 mb-0 text-body-secondary">© 2023 SinkrOne</p>
			<a href="#"
				class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
				<svg class="bi me-2" width="40" height="32">
					<use xlink:href="#bootstrap"></use>
				</svg>
			</a>
			<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item">
					<a href="{% url 'about:privacy' %}" class="nav-link px-2 text-body-secondary">Privacy</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'about:terms' %}" class="nav-link px-2 text-body-secondary">Terms</a>
				</li>
			</ul>
		</div>
	</footer>

	<!-- ======= Javascript ======= -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>